<!doctype html>
<html xmlns:th="https://thymeleaf.org">
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash Cash - Home page</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/index.css">
</head>
<body class="container navbar-expand-lg navbar-light bg-light">

<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="navbar-brand" href="/index" th:href="@{/index}">
        <img th:src="@{/images/flashcash.png}" width="120" height="60" class="d-inline-block align-top" alt="">
      </a>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/" th:href="@{/}">Home</a>
        <a class="nav-item nav-link" href="/transfers" th:href="@{/transfers}">Transfers</a>
        <a href="/profile" th:href="@{/profile}" class="nav-item nav-link">Profile</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <div class="d-flex align-content-center gap-1">
      <a href="/profile" th:href="@{/profile}" class="nav-item nav-link">
        <p th:text="${user.email}"></p>
        <a class="nav-item nav-link text-danger" href="#">Log out</a>
      </a>
    </div>
  </nav>
</header>

<div class="alert alert-primary text-center mt-5 mb-1" role="alert">
  Add cash to you Account
</div>

<section class="">
  <div class="container py-2">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-7 col-lg-5 col-xl-4">
        <div class="card shadow p-3 mb-5 bg-body-tertiary" style="border-radius: 15px;">
          <div class="card-body p-4">
            <form th:action="@{/add-cash}" th:object="${addCAshForm}" method="POST">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-outline">
                  <input type="text" name="amount" id="amount" class="form-control form-control-lg mb-2" size="17"
                         placeholder="0.00" minlength="1" maxlength="8" />
                  <label class="form-label" for="amount">Amount</label>
                  <input type="text" id="typeText" class="form-control form-control-lg" size="17"
                         placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                  <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="visa" width="64px" />
                  <img src="https://img.icons8.com/color/48/000000/visa.png" alt="visa" width="64px" />
                  <label class="form-label" for="typeText">Card Number</label>
                </div>

              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-outline">
                  <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                         placeholder="Cardholder's Name" />
                  <label class="form-label" for="typeName">Cardholder's Name</label>
                </div>
              </div>

              <div class="d-flex justify-content-between  pb-2">
                <div class="form-outline">
                  <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY"
                         size="7" minlength="7" maxlength="7" />
                  <label class="form-label" for="typeExp">Expiration</label>
                </div>
                <div class="form-outline">
                  <input type="password" id="typeText2" class="form-control form-control-lg"
                         placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                  <label class="form-label" for="typeText2">Cvv</label>
                </div>
                <div class="form-group">
                  <input type="submit" value="Add" class="btn btn-primary btn-lg">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">



</div>

<footer class=" footer py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3 mt-4">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQS</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Why using Flash Cash</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Live chat</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact us</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Team</a></li>
  </ul>
  <p class="text-center text-muted">© 2023 Flash Cash, Inc</p>
</footer>
</body>
</html>