<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Flash Cash Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<form action="signup" method="post" modelAttribute="user">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <img th:src="@{/images/flashcash.png}"/>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="lastname">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <input type="submit" class="btn btn-primary">
            </div>
        </div>
</form>


</body>
</html>