<!doctype html>
<html xmlns:th="https://thymeleaf.org">
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash Cash - Home page</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body class="container navbar-expand-lg navbar-light bg-light">

<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="navbar-brand" href="/index" th:href="@{/index}">
        <img th:src="@{/images/flashcash.png}" width="120" height="60" class="d-inline-block align-top" alt="">
      </a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/" th:href="@{/}">Home</a>
        <a class="nav-item nav-link" href="/transfers active" th:href="@{/transfers}">Transfers</a>
        <a href="/profile" th:href="@{/profile}" class="nav-item nav-link">Profile</a>
        <a href="/profile" th:href="@{/contact}" class="nav-item nav-link">Contact</a>
      </div>
    </div>
    <div class="d-flex align-content-center gap-4">
      <a href="/profile" th:href="@{/profile}" class="nav-item nav-link">
        <p th:text="${user.email}"></p>
      </a>
      <a class="nav-item nav-link text-danger" href="#">Log out</a>
    </div>
  </nav>
</header>


<div class="container">

  <h1 class="text-center mt-5 mb-5">Transfers Page</h1>
<!--  th:field="*{contactEmail}"-->
  <select  class="form-select col-3 mt-5" aria-label="Default select example">
<!--    <option value="default">Choose a contact</option>-->
    <option th:each="email: ${linksEmail}" th:value="${email}" th:utext="${email}" selected>Open this select menu</option>
  </select>

  <h4 class="mt-4">Your transfers</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Contact</th>
      <th scope="col">Amount</th>
      <th scope="col">Fees</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">13/08/23 - 13:56</th>
      <!--      th:text="${user != null ? user.account.iban : ''}"-->
      <td>John</td>
      <td>50.00€</td>
      <td>0.25€</td>
      <td>50.25€</td>
    </tr>
    <tr>
    </tbody>
  </table>

</div>

<footer class=" footer py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3 mt-4">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQS</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Why using Flash Cash</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Live chat</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact us</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Team</a></li>
  </ul>
  <p class="text-center text-muted">© 2023 Flash Cash, Inc</p>
</footer>
</body>
</html>